@import "tailwindcss";

:root {
    --parchment: #edede9;
    --dust-grey: #d6ccc2;
    --linen: #f5ebe0;
    --powder-petal: #e3d5ca;
    --almond-silk: #d5bdaf;
    --text-dark: #3d2b1f;
    --text-mid: #7a6358;
    --text-light: #a08070;
}

body {
    background-color: var(--linen);
    color: var(--text-dark);
}

@keyframes fadeIn {
    from{opacity:0; transform:translateY(8px);}
    to{opacity:1; transform:translateY(0);}
    
}
.fade-in{
    animation: fadeIn 0.3s ease-out;
}